@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 
 * p          Paragraf
 * strong     Judul/Heading
 * summary    Lanjutan Paragraf yang terpotong
 * p[dir=rtl] Bahasa Arab
 * q          Untuk Arti dari bahasa Arab
 * 
 */

@layer base {
  /* Remove Input number arrow */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  body {
    @apply font-poppins text-slate-700 selection:bg-cyan-400 selection:text-slate-700 dark:text-slate-400;
  }

  nav > ul > li {
    @apply cursor-pointer font-medium hover:text-primary-light hover:dark:text-primary-dark;
  }

  .highlight {
    @apply text-xl font-bold text-primary-light dark:text-primary-dark;
  }

  .book-page > p {
    @apply mb-3 text-justify indent-8;
  }

  .book-page > p,
  .book-page > q,
  .book-page > summary {
    @apply hover:text-dark-100 hover:dark:text-light-100;
  }

  .book-page > h1 {
    @apply mb-2 block indent-0 text-xl font-bold text-dark-100 dark:text-light-400;
  }

  .book-page > strong {
    @apply block indent-0 text-lg text-dark-100 dark:text-light-400;
  }

  .book-page > summary {
    @apply mb-3 list-none text-justify;
  }

  .book-page > p[dir='rtl'] {
    direction: rtl;
    unicode-bidi: embed;
    @apply ml-auto select-all bg-transparent indent-0 font-LPMQ text-2xl leading-[3.5rem] text-slate-800 hover:text-dark-100 dark:text-slate-300 hover:dark:text-light-100;
  }

  .book-page > ul {
    @apply mb-3;
  }

  .book-page > ul > li {
    @apply list-inside list-disc indent-8;
  }

  .book-page > q {
    @apply mb-3 block select-all text-justify italic;
  }

  /* LPMQ Font */
  @font-face {
    font-family: 'LPMQ Isep Misbah';
    src: url('/fonts/LPMQ.woff2') format('woff2'), url('/fonts/LPMQ.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Poppins Font */
  /*
  */
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-400.woff2') format('woff2'),
      url('/fonts/poppins-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-500.woff2') format('woff2'),
      url('/fonts/poppins-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-600.woff2') format('woff2'),
      url('/fonts/poppins-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-700.woff2') format('woff2'),
      url('/fonts/poppins-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-800.woff2') format('woff2'),
      url('/fonts/poppins-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
}
